<html>
    <header></header>
    <body>
        <h1>CONTAS A PAGAR</h1>
        <a href="/finan/listar_class_pagar">Listar Classificacao de Contas a Pagar</a><br />
        <a href="/finan/listar_forma_pagar">Listar Forma de Pgto de Contas a Pagar</a><br />
        <a href="/finan/listar_pagar">Listar Contas a Pagar</a><br />
        <br /><br /><br />
        <h1>CONTAS A RECEBER</h1>
        <a href="/finan/listar_class_receber">Listar Classificacao de Contas a Receber</a><br />
        <a href="/finan/listar_forma_receber">Listar Forma de Pgto de Contas a Receber</a><br />
        <a href="/finan/listar_receber">Listar Contas a Receber</a><br />
</body>
</html>