{% load static %}
<a href="/finan/cadastro_forma_receber">Cadastrar Forma Pagamento de Contas a Receber</a><br />
{% if lista %}
	<ul>
	{% for forma in lista %}
		<li>
            <a href="{% url 'detalhar_forma_receber' forma.id %}">{{forma.descricao}}</a>
            
            <a href="{% url 'editar_forma_receber' forma.id %}">
				<img src="{% static 'editar.png' %}" width="20" height="20">
			</a>

			<a href="{% url 'excluir_forma_receber' forma.id %}">
				<img src="{% static 'excluir.png' %}" width="20" height="20">
			</a>
		</li>
	{% endfor %}
	</ul>

{% else %}
	<p>Não há Forma Pagamento a receber cadastrada</p>
{% endif %}
<a href="javascript:history.back()">Go Back</a>