{% load static %}
<a href="/finan/cadastro_class_pagar">Cadastrar Classificacao de Contas a Pagar</a><br />
{% if lista %}
	<ul>
	{% for class in lista %}
		<li>
            <a href="{% url 'detalhar_class_pagar' class.id %}">{{class.descricao}}</a>
			<a href="{% url 'editar_class_pagar' class.id %}">
				<img src="{% static 'editar.png' %}" width="20" height="20">
			</a>

			<a href="{% url 'excluir_class_pagar' class.id %}">
				<img src="{% static 'excluir.png' %}" width="20" height="20">
			</a>
		</li>
	{% endfor %}
	</ul>

{% else %}
	<p>Não há classificacão a pagar cadastrada</p>
{% endif %}
<a href="javascript:history.back()">Go Back</a>