{% load static %}
<a href="/finan/cadastro_pagar">Cadastrar Contas a Pagar</a><br />
{% if lista %}
	<ul>
	{% for pagar in lista %}
		<li>
            <a href="{% url 'detalhar_pagar' pagar.id %}">{{pagar.descricao}} - {{pagar.data_venc}} R$ {{pagar.valor}}</a>
            
            <a href="{% url 'editar_pagar' pagar.id %}">
				<img src="{% static 'editar.png' %}" width="20" height="20">
			</a>

			<a href="{% url 'excluir_pagar' pagar.id %}">
				<img src="{% static 'excluir.png' %}" width="20" height="20">
			</a>
		</li>
	{% endfor %}
	</ul>

{% else %}
	<p>Não há Contas a Pagar cadastrada</p>
{% endif %}
<a href="javascript:history.back()">Go Back</a>